{% extends "base1.html" %}
{% block content%}
<div class="projectsperorganization">
    <h3>Projects per Organization</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Organization's name</td>
            <td>Organization's ID</td>
            <td> Projects </td>
        </tr>
         {% for organization in projectsperorganization %}
            <tr>    
                <td> {{organization[0]}} </td>
                <td>{{organization[1]}} </td>
                <td>{{organization[3]}}  </td>
             </tr>
        {% endfor %}
    </thead>
    </table>
</div>
{%endblock%}