{% extends "base1.html" %}
{% block content%}
<div class="projectsperresearcher">
    <h3>Projects per researcher</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Researcher's ID</td>
            <td> Projects </td>
        </tr>
         {% for researcher in projectsperresearcher %}
            <tr>    
                <td> {{researcher[1]}}</td>
                <td>{{researcher[0]}}  </td>
             </tr>
        {% endfor %}
    </thead>
    </table>
</div>
{%endblock%}