{% extends "base1.html" %}
{% block content %}
<div class="researchers">
    <h3>Researchers</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>ID</td>
            <td>Gender</td>
        </tr>
        </thead>
        <tbody>
        {% for researcher in researchers %}
        <tr class="researcher-row">
            <td>{{ researcher.full_name }}</td>
            <td>{{ researcher.age }}</td>
            <td>{{ researcher.researcher_id }}</td>
            <td>{{ researcher.gender }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}