{% extends "base1.html" %}
{% block content%}
<div class="sameprojects">
    <h3>Projects with stable number of projects in two continuous years</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Organization's ID</td>
            <td>Organization's Name</td>
        </tr>
         {% for organization in sameprojects %}
            <tr>    
                <td> {{organization[0]}} </td>
                <td>{{organization[3]}}  </td>
             </tr>
        {% endfor %}
    </thead>
    </table>
</div>
{%endblock%}