{% extends "base1.html" %}
{% block content%}
<div class="youngresearchers">
    <h3>Young Researchers</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Name</td>
            <td>Researcher's ID</td>
            <td>Number of Projects</td>
        </tr>
        {% for youngresearcher in youngresearchers%}
        <tr> 
            <td> {{youngresearcher[0]}}</td>
            <td> {{youngresearcher[1]}}</td>
            <td> {{youngresearcher[2]}}</td>
        </tr>
        {% endfor %}
    </thead>
    </table>
</div>
{%endblock%}